body {
    background-color: hsl(233, 47%, 7%);
    color: white;
}
.container-fluid {
    border: 1px solid hsl(233, 47%, 7%) ;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    margin: 50px;
  
    

}
h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;

}

#header span {
    color: hsl(277, 64%, 61%);
}
#header {
    padding-bottom: 20px;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 50px;
}

.stats {
    font-size: 12px;
    font-weight: 100;
    color: hsla(0, 0%, 100%, 0.6);
padding-left: 70px;
   


}
.stats span {
    font-family: 'Inter', sans-serif;
        font-size: 25px;
    font-weight: 700;
    color: white;

  
}

.mainheader {
    padding: 70px 50px 20px 50px;
   
}






